.sma-color {
  background: #415973;
  color: #fff;
}

.smp-color {
  background: #204270;
  color: #fff;
}
.sd-color {
  background: #8A0F12;
  color: #fff;
}

.small-text {
  font-size: 12px;
}
.index {
  margin-top: 60px;
}

.left-sidebar-container {
  position: relative;
  text-align: center;
}

.left-sidebar-card {
  /*background: #204270;*/
  color: #fff;
  text-align: center;
}

.friend-suggestion-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  padding: 10px;
  justify-content: space-between;
}

.friend-suggestion-card img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.postLeave {
  outline: none;
  background: #fff;
  border: none;
  width: 100%;
  color: #ccc;
  resize: none;
  font-size: 14px;
}

.postAppear {
  font-size: 16px;
  outline: none;
  background: #fff;
  border: none;
  width: 100%;
  height: 200px;
  transition: width 2s, height 2s;
  resize: none;
}

.post-options {
  display: flex;
  justify-content: space-between;
}


.right-sidebar {
  background: #0BCBD6;
  color: #fff;
  text-align: center;
}

.trigger-sharing-text {
  padding: 15px;
  text-align: left;
  cursor: default;
}

.griddify {
    margin-right: 10px;
}

.timeline {
    margin-top: 10px;
}

.reactions {
    text-align: left;
    font-size: 28px;
}

.reaction {
  padding: 20px;
}

.profile-banner {
    padding: 50px;
}

.profile-banner-pic {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

.dashboards-enter {
  /*opacity: 0.01;*/
  width: 0px;
  height: 0px;
}

.dashboards-enter.dashboards-enter-active {
  /*opacity: 1;*/
  /*transition: opacity 500ms ease-in;*/
  width: 100%;
  height: 200px;
  transition: width 500ms ease-in, height 500ms ease-in;
}

.dashboards-leave {
  opacity: 1;
}

.dashboards-leave.dashboards-leave-active {
  /*opacity: 0.01;*/
  /*transition: opacity 300ms ease-out;*/
  width: 0px;
  height: 0px;
  transition: width 500ms ease-in, height 500ms ease-out;
}
.dashboards-appear {
  margin-top: -21px;
  opacity: 0.01;
}

.dashboards-appear.dashboards-appear-active {
  opacity: 1;
  margin-top: -1px;
  transition: margin-top 1s ease-in, opacity 1s ease-in;
}

@media screen and (min-width: 780px){
  .left-sidebar-card {
    position: fixed;
    color: #000;
  }

  .right-sidebar {
    position: fixed;
    width: 22.8%;
    background: #204270;
    color: #fff;
  }

}

.round-image {
  border-radius:100%;
}
