.box{
  background-color: #0BCBD6;
  border-radius: 0px;
}

.login{
  padding: 5px;
}

.email{
  padding-top: 10px ;
  color: white;
}

.password{
  padding-top: 10px ;
  color: white;
}

.button-login{
 margin-top: 6px;
}

.margin{
  margin: 5px;
}
